

:root {
    --primary-text-color: #434455;
    --ocean-color: #404bbf;
    --iris-color: #4d5ae5;
    --primary-white-color: #e5e5e5;
    --header-words-color: #2E2F42;
    
}


.link {
    text-decoration: none;
}
    body {
        font-family: 'Roboto', sans-serif;
        background-color:#FFFFFF;
        color: var(--primary-text-color)
    }
    .list {
        list-style: none;
    }

    .menu-link {    
           
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--header-words-color);
    }

     .contact {
        
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
     }   

     .contact:hover,
         .contact-phone:focus {
            color: var(--ocean-color);
         }

         .team-names {
            background-color: #FFFFFF
         }

     .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
     }
     .change-color-btn {
       
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            color: var(--iris-color);
            background-color: #F4F4FD;
     }

     .change-color-btn:hover,
     .change-color-btn:focus {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--ocean-color);
     }

     
.name-section {
    background-color: #F4F4FD
}
     .order-btn {
        font-family: 'Roboto', sans-serif
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;            
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background-color: #4D5AE5;
            cursor: pointer;
             
     }

     .order-btn:hover,
     .order-btn:focus {
        background-color: var(--ocean-color);
     }

     .effect-sol {
        
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;           
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;

     }

     

     .small-text {
        
            font-size: 16px;
            line-height: 1.5;           
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
                
     }

     .higher-text {
        
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--header-words-color);
    
     }
        
     .name-section {
        
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;            
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--header-words-color);
        
     }

     .footer-text {
        
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color:#F4F4FD;
     }

     .menu-link:hover,
     .menu-link:focus {
        color: var(--ocean-color)
     }

     .footer-back {
        background-color: #2e2f42;
     }

     .web {
        font-family: 'Raleway';
                        font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
           
        
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--iris-color);
     }

          .studio {
              color: #f4f4fd; 
            }

            .contacts-font-normal {
                font-style: normal;
            }