

:root {
    --primary-text-color: #434455;
    --ocean-color: #404bbf;
    --iris-color: #4d5ae5;
    --primary-white-color: #e5e5e5;
    --header-words-color: #2E2F42;
    
}


.link {
    text-decoration: none;
}
    body {
        font-family: Roboto, sans-serif;
        background-color: var(--primary-white-color);
        color: var(--primary-text-color)
    }
    .list {
        list-style: none;
    }

    .menu-link {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--header-words-color);
    }

     .contact-phone {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
     }   

     .contact-mail {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
            
     }

     .change-color-btn
     will write it from figma

     .change-color-btn:hover,
     .change-color-btn:focus {
        will write it from figma
     }

     .modal-btn {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;            
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background-color: #4D5AE5;
             
     }

     .effect-sol {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;           
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;

     }

     .small-text {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;           
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
                
     }

     .higher-text {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--header-words-color);
    
     }
        
     .name-section {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;            
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--header-words-color);
        
     }

     .footer {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color:#F4F4FD;
     }